<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with Friend</title>
    <style>
        .navbar{
            background-color: lightblue;
            border: 3px solid black;
            border-radius: 10px;
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float : left;
            list-style: none;
        }
        .navbar li a{
            padding : 3px 5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-decoration: none;
        }
        img{
            display: block;
            margin : auto;
            border-radius: 20px;
            margin-top: 10px;
            height: 500px;
            width: 600px;
            border: 4px solid black;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>

                <li><a href = "/chat">Chatting App</a></li>
                <li><a href = "#">Voice Call App</a></li>
                <li><a href = "#">Video Call App</a></li>
                <li><a href = "/live" target="_blank" rel="noopener noreferrer">Live Visitors</a></li>
            </ul>
        </nav>
    </header>
        <img src="connect.png" alt="">
    
</body>
</html>